{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/greet.css') }}">
{% endblock %}

{% block title %}
Greet
{% endblock %}

{% block content %}
<header class="p-3 border-bottom">
    <ul class="nav justify-content mx-auto">
        <li class="nav-item">
            <a class="btn btn-outline-primary nav-link px-2 link-dark" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-primary nav-link px-2 link-dark" href="/all-greetings">Список всіх, з ким
                привітався</a>
        </li>
    </ul>
</header>
<div class="text-center fs-1">
    <p>{{message}}, {{name}}</p>
</div>

{% endblock %}