
{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
{% endblock %}

{% block title %}
Greet
{% endblock %}

{% block content %}

<a href="/all-greetings">Список всіх, з ким привітався</a>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
        <ul class="notification {{ category }} is-light">
        <li class="{{ category }}">{{ message }}</li>
        </ul>
        {% endfor %}
    {% endif %}
{% endwith %}
<form method="POST">
    <div>
        <label>Як мені вас звати</label>
        <input class="input" type="text" name="name" placeholder="your name">
    </div>
    <div>
        <button type="submit">Привітатися</button>
    </div>
</form>

{% endblock %}